#root{
  margin:50px;
}

/* Path: src\App.css */

.header-style{
font-family: 'Tomorrow';
font-style: normal;
font-weight: 600;
font-size: 16px;
/* identical to box height, or 200% */

text-transform: uppercase;

/* Secondary/Blue 000 */

color: #ECF0FF;

opacity: 0.9;

}
.header-icon{
  padding-right : 16px;
}
.header-container{
  display: flex;
  flex-direction: row;
  margin-top: 10%;
  margin-bottom: 58px;
}

.card-carousel{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}